<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create New Post</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Post Name:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Enter Post Name
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('text').touched && form.get('text').invalid}"
  >
    <label>Post Content:</label>
    <textarea formControlName="text"></textarea>
    <div
      *ngIf="form.get('text').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('text').errors.required">
        Enter Text
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
  >
    <label for="author">Post Author:</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation"
    >
      <small *ngIf="form.get('author').errors.required">
        Enter Post Author
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Create Post</button>
</form>
